@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto&display=swap");

:root {
  --main-color: #37132d;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul li {
  list-style: none;
  display: inline;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  color: #000;
  font-family: var(--secondary-font);
}

/* Header Content */
.content__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.header__heading {
  font-size: 4rem;
  font-family: var(--main-font);
}

.header__sub-headings {
  width: 70%;
  font-family: var(--secondary-font);
  color: rgb(82, 82, 82);
  margin: 20px 0;
}

.header__img {
  width: 200px;
  height: 300px;
}

.header__img-container {
  width: 30%;
  height: 50vh;
  position: relative;
}

.img-one {
  position: absolute;
  left: 10rem;
}

.img-two {
  position: absolute;
  left: 3rem;
  top: 8rem;
}

.main-btn {
  padding: 10px 20px;
  text-decoration: none;
  background: var(--main-color);
  color: #fff;
  font-family: var(--secondary-font);
}
/* End of Header Section */

/* Experience section  start*/
.experience{
  height: 90vh;
  margin-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.experience-img{
  background:url("images/barber.jpeg");
  background-size: cover;
  width: 300px;
  height: 350px;
  margin-left:50px ;
}

.gray-heading{
  color: gray;
  font-family: var(--main-font);
}

.btn-container{
  margin-top: 30px;
}

/*Experience section end */

/*social media section start */
.social-media{
  margin: 5rem;
}

.sm-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.follow{
  padding: 20px;
  background: var(--main-color);
  color: #fff;
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-right: 3rem;
  text-align: center;
}
/*social media section end */
/* hero section  start */
.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-img-container{
  background: url(https://i.pinimg.com/236x/14/ea/f4/14eaf4052718e346060952d62a83aca5.jpg);
  background-size: cover;
  background-position: top;
  width: 300px;
  height: 400px;
}

.hero_sub-headings{
  width: 400px;
}

.hero-content{
  margin-left: 6rem;
}
/*hero section end */
/* Services Section Start */
.services {
  margin-top: 10rem;
}

.services_g-heading {
  margin-left: 5rem;
}

.services-heading {
  margin-left: 5rem;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 600px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes the content to the bottom */
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: top;
}

.img-one {
  background-image: url(images/hair-cut.jpeg);
}
.img-two {
  background-image: url(images/beard.jpeg);
}
.img-three {
  background-image: url(images/smooth.jpeg);
}

.card-content {
  transform: translate (200px); 
  text-align: center;
  margin: 10px;
  position: relative;
}

.card-title {
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 20px 0;
  color: #000;
}

.card-info {
  font-family: var(--secondary-font);
  text-align: center;
  color: rgb(109, 109, 109);
  margin: 30px 40px;
}
/* Services Section End */

/* Footer start */


/* Footer End */
