@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --main-color:#37132d;
    --main-font:'Playfair', serif;
    --secondary-font:'Roboto', serif;
}

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav start */
.nav{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

ul li{
    list-style: none;
    display: inline;
}

ul li a{
    text-decoration: none;
    margin: 10px;
    color: #000;
    font-family: var(--secondary-font);
}

/*nav end */

/*section one start*/
.content_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
/*section one end*/